.image-head-text {
    position: relative;
 }
 .text-on-image {
    position: absolute;
    top: 1.5%;
 }

.greeting-image{
    --background: none;
    background-image: url('/public/assets/images/personal/greeting.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.primary-image{
    --background: none;
    background-image: url('/public/assets/images/personal/primary.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.secondary-image{
    --background: none;
    background-image: url('/public/assets/images/personal/secondary.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}